@{Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="wibu-3">
        <ul class="pro">
            <li>
                <div class="a1">
                    <h2>
                        Yêu thú cưng của bạn <br />
                        Hãy chăm sóc cho chúng
                    </h2>

                    <h3>
                        Vì thời gian bạn dành cho chúng là<br />
                        Không bao giờ thừa thải
                    </h3>
                    <div class="a2">
                        <form>
                            <button>ĐẶT CUỘC HẸN</button>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="anhs">
                    <img src="/asset/admin/anh/meo.jpg.jpg" alt="" width="390" height="290">
                    </div>
            </li>
            <li>
                <div class="thu">
                    <form>
                        <label>Họ Và Tên</label> <br /><input type="text" name="id"> <br />
                        <label>Email</label> <br /><input type="email"> <br />
                        <textarea name="textarea" cols="20,5" rows="12">Lời nhắn</textarea><br />
                        <button class="but"> GỬI </button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="a4">
        <div class="chungtoi">
            <h2>Chúng tôi làm gì?</h2>
            <div class="chungtois">
                <P>
                    Thú cưng của bạn đang ở trong tay tốt với đội ngũ chuyên nghiệp của chúng tôi.<br />
                    Chúng tôi luôn đề cao chất lượng và dịch vụ hàng đầu
                </P>
            </div>
        </div>
        <div>
            <ul class="anh4">
                <li>
                    <img src="./anh/anh1.jpg" width="190" height="200">
                </li>
                <li>
                    <img src="./anh/anh3.jpg" width="190" height="200">
                </li>
                <li>
                    <img src="./anh/anh2.jpg" width="190" height="200">
                </li>
                <li>
                    <img src="./anh/anh4.jpg" width="190" height="200">
                </li>
            </ul>
        </div>
    </div>
    <div class="meotext">
        <ul class="meo2">
            <li>
                <div>
                    <img src="./anh/meo.jpg.jpg" alt="" width="500" height="250">
                </div>
            </li>
            <li>
                <div class="chamsoc">
                    <h2>Chúng tôi là ai</h2>
                    <p>Chăm sóc thú cưng không chỉ là những gì chúng ta làm, mà là những gì	</p>
                    <p>chúng ta yêu thích đam mê.Chúng tôi cung cấp cho thú cưng của bạn</p>
                    <p>an toàn, thoải mái cho thú cưng và các dịch vụ dưới giám sát 24/7</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="wrapper-one">
        <div class="headline">
            <h1>Tin Tức</h1>
        </div>
        <ul class="products">
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src="./anh/anh7.jpg" width="250" height="250">
                        </a>

                    </div>
                    <div class="product-info">
                        <a href="" class="product-cat">Tin Tức</a>
                        <a href="" class="product-name">Lịch tiêm phòng cho chó</a>
                        <a href="" class="product-cat">8 Tháng 8,2023</a>
                        <div class="product price">
                            Lịch tiêm phòng cho chó qua nhiều năm,tôi sẽ
                            đến, ai sẽ nostrud aliquip
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src="anh/anh4.jpg" alt="" width="250" height="250">
                        </a>

                    </div>
                    <div class="product-info">
                        <a href="" class="product-cat">Tin Tức</a>
                        <a href="" class="product-name">Một khoảnh khắc tạm thời</a>
                        <a href="" class="product-cat">8 Tháng 3,2023</a>
                        <div class="product price">Một khoảnh khắc tạm thời Đối với giá của một cái<br /> hồ,ti vi khối lượng....</div>
                    </div>
                </div>
            </li>
            <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="anh/anh3.jpg" alt="" width="250" height="250">
                    </a>

                </div>
                <div class="product-info">
                    <a href="" class="product-cat">Tin Tức</a>
                    <a href="" class="product-name">Chăm sóc mắt cho mèo</a>
                    <a href="" class="product-cat">8 Tháng 8, 2002</a>
                    <div class="product price">Chăm sóc mắt cho mèo qua nhiều năm,tôi sẽ đến<br /> ai sẽ nostrud qliquip</div>
                </div>
            </div>
            </li>
        </ul>
    </div>
    <div class="wibu-4">
        <ul class="pro-4s">
            <li>
                <div class="pro-5">
                    <p>
                        Thú cưng của bạn đang ở trong tay tốt với <br>
                        đội ngũ bác sĩ thú y,chú rể huấn luyện viên<br>
                        chuyên nghiệp của chúng tôi. Chúng<br>
                        cung cấp động vật của bạn chỉ là một <br>
                        dịch vụ chất lượng hàng đầu <br>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-sharp fa-regular fa-bird"></i>
                    </p>
                </div>
            </li>
            <li>
                <div class="pro-6">
                    <h3>Liên Hệ</h3>
                    <p>
                        <i class="fa-solid fa-key"></i>
                        504 Quan Hoa Quận Cầu Giấy Hà Nội
                    </p>
                    <p>
                        <i class="fa-regular fa-envelope"></i>
                        Longjungle295@gmail.com
                    </p>
                    <p>
                        <i class="fa-solid fa-fax"></i>
                        0852334295
                    </p>
                </div>
            </li>
            <li>
                <div class="pro-7">
                    <h3> Hỗ Trợ</h3>
                    <p>FAQ</p>
                    <p>Chăm sóc khách hàng</p>
                    <p>Vận chuyển và đổi hàng</p>
                    <p>Liên Hệ</p>
                </div>
            </li>
        </ul>
    </div>