@{ Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";}

<body>
<div class="left">
    <div class="vb">
        <ul >
            <li>
    <img src="./anh/anhcogai.jpg" width="130" height="130" >
    <div class="zzz">
    <h3>Cuộc thi "lan tỏa tích cực 2022": Cô gái toàn tâm cưu mang chó mèo</h3>
    <p>Chị Trần Uyên Như - trưởng nhóm cứu hộ động vật Sài Gòn Time - đã cưu mang, chăm sóc và thương yêu chó mèo như người thân trong gia đình suốt 6 năm qua.</p>
    </div>
        
            </li>
            <li>
                <img src="./anh/choyoga.jpg" width="130" height="130" >
                <div class="zzz">
                <h3>Chi bộn cho thú cưng: Từ yoga cho chó đến trị liệu cho mèo</h3>
                <p>TTCT - Sản phẩm, dịch vụ dành riêng cho thú cưng là một thị trường màu mỡ và lợi nhuận khủng, vì con người ngày càng mạnh tay móc hầu bao cho thú cưng, khiến những thứ kỳ lạ như tập yoga hay điều trị tâm lý cho chó mèo cũng đều không thiếu khách hàng.</p>
                </div>
                        </li>
                        <li>
                          <img src="./anh/khachsanthucung.jpg" width="130" height="130" >
                          <div class="zzz">
                          <h3>"Khách sạn thú cưng giá 500.000 đồng/ngày nhộn nhịp như ngày tết"</h3>
                          <p>TTO - Mỗi thú cưng có một phòng riêng biệt, được tận hưởng các dịch vụ chăm sóc, ăn uống, đi dạo. Ngày tết, giá dịch vụ 'khách sạn' chó, mèo dao động từ 100.000 đồng/ngày đến gói vip 500.000 đồng/ngày.</p>
                          </div>
                                  </li>
                                  <li>
                                    <img src="./anh/dogtravel.jpg" width="130" height="130" >
                                    <div class="zzz">
                                    <h3>Cặp đôi tiết kiệm 63.000 USD trong khi chu du khắp thế giới</h3>
                                    <p>TTO - Họ đã sống ở những thành phố xinh đẹp đắt đỏ bậc nhất thế giới trong hai năm qua mà không phải trả một xu tiền thuê nhà, không hoá đơn điện nước và hoàn toàn hài lòng với cuộc sống này.</p>
                                    </div>
                                            </li>
        </ul>
                
    </div>
    
</div>
<div class="right">
  <h2>DANH MỤC TIN TỨC</h2>
  <ul>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  <li><a href="">Phân Phối</a></li>
  <li><a href=""> web</a></li>
  
  
  </ul>
</div>
    
    <div class="wibu-4">
        <ul class="pro-4s">
          <li>
            <div class="pro-5">
            <p>Thú cưng của bạn đang ở trong tay tốt với <br>
            đội ngũ bác sĩ thú y,chú rể huấn luyện viên<br>
             chuyên nghiệp của chúng tôi. Chúng<br>
             cung cấp động vật của bạn chỉ là một <br>
             dịch vụ chất lượng hàng đầu <br>
             <i class="fa-brands fa-facebook"></i>
             <i class="fa-brands fa-instagram"></i>
             <i class="fa-brands fa-twitter"></i>
             <i class="fa-sharp fa-regular fa-bird"></i>
            </p>
            </div>
            </li>
            <li>
              <div class="pro-6">
                  <h3>Liên Hệ</h3>
                  <p>
                  <i class="fa-solid fa-key"></i>
                  504 Quan Hoa Quận Cầu Giấy Hà Nội</p>
                  <p><i class="fa-regular fa-envelope"></i>
                  Longjungle295@gmail.com</p>
                  <p><i class="fa-solid fa-fax"></i>
                  0852334295</p>
              </div>
                </li>
                <li>
                  <div class="pro-7">
                  <h3> Hỗ Trợ</h3>
                  <p>FAQ</p>
                  <p>Chăm sóc khách hàng</p>
                  <p>Vận chuyển và đổi hàng</p>
                  <p>Liên Hệ</p>
                  </div>
                  </li>
        </ul>
      </div>

</body>